:root {
  --primary-color: #893dff;
}

body {
  background-color: #292841;
}

.navbar {
  background-color: #391a69;
  color: white;
}

.hero {
  color: rgb(255, 255, 255);
  padding: 160px 0 100px 0;
}

.hero p {
  font-size: 48px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  opacity: 50%;
  font-weight: 500;
}

.btn-branding {
  margin: 0 20px;
  background: var(--primary-color);
  border-radius: 5;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
}

.btn-branding:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-branding-outlined {
  margin: 0 20px;
  background: transparent;
  border-radius: 5;
  color: var(--primary-color);
  padding: 15px 40px;
  font-size: 20px;
  border: 1px solid var(--primary-color);
}

.btn-branding-outlined:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.project-section {
  margin-bottom: 60px;
  color: white;
}

.project-section h2 {
  font-size: 48px;
  opacity: 1;
  font-weight: 400;
}

.project-section p {
  font-size: 18px;
}
.project-section a {
  margin: 10px 0;
}

.project-section img {
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
footer a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 56px;
  }
  .project-section {
    text-align: center;
  }
  .content-container {
    text-align: center;
  }
}

.content-container {
  color: white;
  margin-top: 100px;
}

.content-container h1 {
  font-size: 56px;
}

.content-container h2 {
  font-size: 32px;
}

.content-container p {
  font-size: 24px;
}

.content-container img {
  border-radius: 15px;
}

.content-container a {
  margin: 20px 0;
}

.content h3 {
  margin-top: 15px;
}
.content img {
  margin-top: 20px;
}

.content {
  margin-bottom: 100px;
}
